body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box; /* sizes of elements are calculated including the border size */
}

.counter {
  display: flex;
  align-items: center;
}

.counter > .btn,
.counter > .badge {
  min-height: 2rem;
  padding: 1rem;
  margin: 0 2rem;
  display: flex;
  /* position text vertically in the middle of the element */
  align-items: center;
}

#navbar {
  justify-content: flex-start;
}

#counterValue {
  max-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-picker {
  width: fit-content;
  cursor: pointer;
}

.movies-page {
  display: grid;
  justify-content: start;
  align-items: flex-start;
  grid-template-columns: min-content 1fr;
  gap: 5rem;
}

.pagination {
  cursor: pointer;
}

.movies-table th,
.movies-table td {
  width: 100px;
  overflow: hidden;
}

#movie-table__header {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem 0 0;
}

#movie-table__header > * {
  display: inline-block;
  margin: 0 2rem 0 0;
}
